#sliders {
    height: 400px;
    width: 60%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.gallery-header {
    display: none;
}

.slider-item {
    display: none;
}

.img-thumbnail {
    cursor: pointer;
}

.added {
    border: 2px solid #1e1743;
    border-radius: 5px;
}